<br>
<!-- <h2>Comment on an existing post</h2> -->
<%= form_for @comment do |f| %><br>
<%= f.label "Content" %><br>
<%= f.text_area :content %><br>

  <h4>Choose an existing user: </h4>
  <%= f.collection_select :user_id, User.all, :id, :username %><br>

  <h4>Or create a new user:</h4>
  <%= f.fields_for :user do |user| %>
    <p><%= f.label "Name" %></p>
    <%= user.text_field :username %>
    <p><%= f.label "email" %></p>
    <%= user.text_field :email %>
  <% end %>
  <br>

  <%= f.submit %>
<% end %>
