
<h1><%= @post.title %>
<p><%= @post.content %></p>

<%= form_for @post.comments.build do |f|  %>
  <%= f.label :content, "Comment" %>
  <%= f.text_area :content %>

  <h3>Select an existing user</h3>
  <%= f.collection_select :user, User.all, :id, :username %>

  <h3>Or, create a new user</h3>
  <%= f.fields_for :user, @comment.users.build do |users_fields| %>
    <h3>Name: </h3>
    <%= users_fields.text_field :name %>
    <h3>Email: </h3>
    <%= users_fields.text_field :email %>
    <% end %>
    <%= f.submit %>

<% end %>
